<h1>Gestión de Usuarios</h1>
<form action="/api/users/delete-inactive" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar a los usuarios inactivos?');">
  <button type="submit">Eliminar Usuarios Inactivos</button>
</form>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>
        <form action="/api/users/update-role/{{this._id}}" method="POST">
          <select name="role">
            <option value="user" {{#if (eq this.role "user")}}selected{{/if}}>User</option>
            <option value="premium" {{#if (eq this.role "premium")}}selected{{/if}}>Premium</option>
            <option value="admin" {{#if (eq this.role "admin")}}selected{{/if}}>Admin</option>
          </select>
          <button type="submit">Actualizar</button>
        </form>
      </td>
      <td>
        <form action="/api/users/delete/{{this._id}}" method="POST" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
          <button type="submit">Eliminar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>