<h1>PRODUCTOS</h1>


<a href="/carts/{{cartId}}">Ir al Carrito</a>

<div>
  {{#each products}}
    <div>
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>${{this.price}}</p>
      <form id="form-{{this._id}}" action="/api/carts/{{../cartId}}/product/{{this._id}}" method="POST">
        <label for="quantity-{{this._id}}">Cantidad</label>
        <input type="number" id="quantity-{{this._id}}" name="quantity" value="1" min="1" required>
        <button type="submit">Agregar al Carrito</button>
      </form>
    </div>
  {{/each}}
</div>

<div>
  {{#if hasPrevPage}}
    <a href="?page={{prevPage}}&limit={{limit}}">Página Anterior</a>
  {{/if}}
  Página {{page}} de {{totalPages}}
  {{#if hasNextPage}}
    <a href="?page={{nextPage}}&limit={{limit}}">Página Siguiente</a>
  {{/if}}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('form').forEach(function(form) {
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(form);
        const action = form.action;

        fetch(action, {
          method: 'POST',
          body: new URLSearchParams(formData)
        })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert('Error: ' + data.error);
          } else {
            alert('Producto agregado al carrito.');
            const quantityInput = form.querySelector('input[name="quantity"]');
            quantityInput.value = 1;
            quantityInput.focus();
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Error al agregar el producto al carrito.');
        });
      });
    });
  });
</script>